::root {}

.scrollable {
    max-height: 500px !important;
    overflow-x: hidden !important;
    overflow-y: scroll !important;
}

body {
    /*    overflow: hidden !important;*/
}

.block {
    height: 200px !important;
    width: 100% !important;
    border-radius: 20px !important;
}

.link {
    cursor: pointer
}

.theme {
    background: #5da8a5 !important;
    color: aliceblue !important;
}

.block-long {
    height: 50px !important;
    border-radius: 20px !important;
}

header,
main,
footer {
    padding-left: 300px;
}

@media only screen and (max-width : 992px) {

    header,
    main,
    footer {
        padding-left: 0;
    }
}

.wrap {
    word-wrap: normal !important;
    height: 85px !important;
    max-height: 85px !important;
    overflow: hidden !important;
}

.card .card-content {
    padding: 10px;
}
